# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/vs2017/.vs/scene_app/v16/Browse.VC.opendb
*.ipch
*.ipch
*.ipch
build/vs2017/.vs/scene_app/v16/.suo
*.ipch
*.ipch
*.ilk
*.pdb
*.db
*.db
*.ipch
build/vs2017/.vs/scene_app/v16/Browse.VC.db
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/8d7bfab87da0625d/GAMEOBJECT_2D.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/9393e3b521d824b5/LOADERSTATE.ipch
build/vs2017/.vs/scene_app/v16/Browse.VC.db
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/8d7bfab87da0625d/GAMEOBJECT_2D.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/9393e3b521d824b5/LOADERSTATE.ipch
build/vs2017/.vs/scene_app/v16/.suo
build/vs2017/.vs/scene_app/v16/Browse.VC.db
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/15e42bdabedb990c/GAMEOBJECT.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/186c8c79aefe9ad6/PLATFORM_D3D11.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/19fb7377e460f7c/AUDIO_3D.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/1ac591a8f0af4f17/PRIMITIVE_BUILDER.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/408f65ab455d33f2/RENDERER_3D.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/42f615faac3ce86e/RENDERER_3D_D3D11.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/5b97736ac022d538/LEVEL1.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/76a21cf548b97223/MAIN_D3D11.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/88bc2f57166fdc18/MESH.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/89d8d64a8385ee4c/STATE.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/8d7bfab87da0625d/GAMEOBJECT_2D.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/9393e3b521d824b5/LOADERSTATE.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/a379c4b87ea82f46/SCENE_APP.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/d10105acf288a61c/GAMEOBJECT_3D.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/ecdcf4e8523ef8ee/SCENEMANAGER.ipch
build/vs2017/.vs/scene_app/v16/ipch/AutoPCH/fb1b4d089face33e/PLATFORM_VITA.ipch
build/vs2017/x64/Debug/scene_app.ilk
build/vs2017/x64/Debug/scene_app.log
build/vs2017/x64/Debug/scene_app.pdb
build/vs2017/x64/Debug/scene_app.tlog/CL.command.1.tlog
build/vs2017/x64/Debug/scene_app.tlog/CL.read.1.tlog
build/vs2017/x64/Debug/scene_app.tlog/CL.write.1.tlog
build/vs2017/x64/Debug/scene_app.tlog/link.command.1.tlog
build/vs2017/x64/Debug/scene_app.tlog/link.read.1.tlog
build/vs2017/x64/Debug/scene_app.tlog/link.write.1.tlog
build/vs2017/x64/Debug/vc142.idb
build/vs2017/x64/Debug/vc142.pdb
build/vs2017/.vs/scene_app/v16/.suo
*.db
*.ipch
*.db-wal
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.filters
*.enc
*.ilk
build/vs2017/.vs/scene_app/v16/Browse.VC.db-shm
*.psd
*.log
build/vs2017/x64/Debug
build/vs2017/x64/Release
build/vs2017/Win32/Release
